/* import fonts here  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@400;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: black;
}
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* nav css start here */

li a{
  transition:0.4s;
  text-decoration: none;
  color:White;
}

nav{
  transition:0.4s;
}

#hrSlide{
  content: "";
  height: 3px;
  background-color: rgba(217, 147, 67, 1);
  position: sticky;
  top: 60px;
  opacity: 0;
  transition:0.4s;
}


#logo{
  transition:0.4s;
}

.nav-items{
  transition:0.4s;
}

nav{
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: right;
  height: 132px;
  font-family: 'Raleway', sans-serif;
  background-color:black;
  width: 100vw;
}
#logo{
  height: 94px;
  width: 94px;
  margin: 19px 0px 19px 50px;
transition:0.4s;
}
.nav-items{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  padding-right: 54px;
  margin-top: 45px;

}
.nav-link{
  text-decoration: none;

  color: rgb(226, 226, 226);
  
  list-style: none;
  /* margin-left: 10px; */
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
  font-weight: 500;
font-size: 16px;
}
.nav-link:hover{
  color: white;
}
.burger{
  display: none;
  cursor:pointer;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(226,226,226);
  margin: 5px;
}
@media screen and (max-width:1300px){
  
  .nav-items{
    width: 100%;
  }
}

@media screen and (max-width:1110px){
  nav{
    overflow-x: hidden;
    backdrop-filter: unset !important;
    background-color: transparent;
  }
  #logo{
    opacity: 0;
  }
  .nav-items{
    position: fixed;
    z-index: 1000;
    right: 0px;
    height: 100vh;
    top: 0;
    background-color: #000000e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    justify-content: space-evenly;
    transition: transform 0.5s ease-in;
    padding-right: 23px !important;
    padding-top: 0;
    margin-top: 0;
    
  }
  .nav-link{
    opacity: 0;
    margin-left: 54px;
  }
  .burger{
    display: block;
    position: fixed;
    right: 0px;
    top: 10px;
    margin-right: 10px;
    z-index: 1001;
  }
}
.nav-active{
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from{
   opacity: 0;
   transform: translateX(50px);
  }
  to{
  opacity: 1;
  transform: translateX(0px);
  }
}

.toggle .line1{
 transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{

  transform: rotate(45deg) translate(-5px,-6px);
}

/* nav css ends here  */
#wall {
  background: linear-gradient(315deg, rgb(19, 15, 64) 0%, rgb(0, 0, 0) 50%);
  height: 100vh;
}


.social-bigs {
  position: absolute;
  /* z-index: 1000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  right: 50px;
  bottom: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.social-bigs::before{
  display: block;
  content: "";
  width: 3px;
  height: 50px;
  background-color: rgb(255 255 255 / 43%);
  margin-bottom: 12px;
  border-radius: 15px;
}

.social-bigs a {
  margin: 1em;
  cursor: pointer;
  transition-duration: 500ms;
  cursor: pointer;
  color: white;
}

.social-bigs>a>i {
  color: inherit;
}

.social-bigs a:nth-child(1):hover {
  color:  #F2A53E !important;
}

.social-bigs a:nth-child(2):hover {
  color:  #F2A53E !important;
}

.social-bigs a:nth-child(3):hover {
  color:  #F2A53E !important;
}

.social-bigs a:nth-child(4):hover {
  color:  #F2A53E !important;
}

.wall-heading {
  position: absolute;

  left: 139px;
  top: 194px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 91.9149px;
  line-height: 108px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #e8e8e8;
  transition:0.25s;
  margin-top:60px;
}

.sub-heading {
  position: absolute;
  left: 139px;
  top: 302px;

  font-weight: 600;
  font-size: 70px;
  line-height: 82px;
  letter-spacing: 0.05em;
  transition:0.25s;
}

.tagline {
  position: absolute;
  left: 139px;
  top: 396px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */

  letter-spacing: 0.9em;

  background: linear-gradient(
    90deg,
    #c28a4a -1.02%,
    #ffc67a 52.12%,
    #c28a4a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition:0.25s;
}

#about {
  background: url(about-bg.png);
  /* background-attachment: fixed; simple parallax*/
  width: 100%;
  height: 709px;
}
#guest {
    /* padding-top: 114px; */
    /* padding-left: 139px; */
    height: 673px;
    width: 100%;
    background: url(guest-bg.png);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
}
#sponsor {
  background: linear-gradient(269deg, rgb(19, 15, 64) 0%, rgb(0, 0, 0) 50%);
  width: 100%;
}
.sponsor-head {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 53px;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 40px;
}
#sponsorIcons {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0px 190px;
  box-sizing: border-box;
}
.sponsorItem {
  position: relative;
  width: 208px;
  height: 149px;
  background-color: white;
  border-radius: 5px;
  margin: 16px;
  border: solid 1px #b9b5b570;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  transition:0.4s;
}

.sponsorItem:hover{
  transform: translate(0px, -7px) !important;
}
.sponsorItem img{
  width: 115px;
  height: auto;
  filter: contrast(2.5) ;
}

#about-text {
  position: absolute;
  margin-left: 139px;
  margin-top: 139px;
  width: 559px;
  height: 333px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 0.07em;
  color: #e8e8e8;
  overflow-wrap: break-word;
}
.head {
  margin-bottom: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 53px;
}
.gold-hd {
  color: #d99343;
}
.speaker-hd {
  color: #1f2029;
}
#request-sponsor {
  width: 100%;
  height: 359px;
  margin-top: 137px;
  padding-top: 95px;
  background: #edecec;
  box-sizing: border-box;
}
#request-sponsor-hd {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #1f2029;
}
#form {
  padding-top: 27px;
}


.sponsor-email {
  box-sizing: border-box;
  width: 500.62px;
  height: 46.93px;

  background: #f4f4f4;
  border: 0.5px solid #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 13px 22px;
  letter-spacing: 0.12em;

  color: #aaaaaa;
  text-align: left;
  margin-right: 25px;
}
.submit-btn {
  width: 177.56px;
  height: 46.93px;

  background: linear-gradient(180deg, #f2a53e 0%, #d99343 100%);
  border: none;
  border-radius: 10px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.12em;

  color: #ffffff;
}


#events{
  height: 113vh;
  background: url(./past\ events\ bg.png);
  background-size: cover;
  background-position: center center;
}

#events-sub{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}


#location {
  width: 100%;
  height: 526px;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgb(0 0 0 / 0%)),
    url(location-bg.png);
  padding-top: 144px;
}
#address-line {
  margin-top: 37px;
}
.address-hd {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
  /* identical to box height */
  margin-bottom: 19.82px;
  text-align: center;

  color: #ffffff;
}
.address-sub-hd {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.box {
  padding:13px 0px;
  font-family: "Noto Sans", sans-serif;
  width: 40%;
  padding-left: 5%;
  border-left: solid 1px #555;
}
.input-container {
  position: relative;
  margin-bottom: 15px;
}
.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  pointer-event: none;
  font-size: 12px;
  transition: all 0.5s ease-in-out;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* text-align: center; */
  letter-spacing: 0.12em;
  color: #949494;
  transition:0.4s;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #CB8A3F;;
}
.input-container textarea {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  height: 100px;
  resize: none;  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* text-align: center; */
  letter-spacing: 0.12em;
  color: #949494;transition:0.4s;
}
.input-container textarea:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #CB8A3F;;
}
.info-our-body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 20px; */
  letter-spacing: 0.12em;
  margin-bottom: 23px;
  color: #b5b5b6;
}

.btn {
  background-color: black;
  /* outline: none; */
  /* border: 0; */
  /* color: #fff; */
  padding: 10px 20px;
  text-transform: uppercase;
  /* margin-top:50px; */
  cursor: pointer;
  position: relative;
  border-image: linear-gradient(180deg, rgba(217, 147, 67, 1), rgba(176, 119, 54, 1)) 1;
  padding: 10px 50px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #CB8A3F;
  transition:0.4s;
}
.btn:hover{
  background: linear-gradient(180deg, #D99343 0%, #B07736 100%);
  color:white;
}
/*.btn:after{
content:"";
position:absolute;
background:rgba(0,0,0,0.50);
top:0;
right:0;
width:100%;
height:100%;
}*/
.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
}
.input-container textarea:focus ~ label,
.input-container textarea:valid ~ label {
  top: -12px;
  font-size: 12px;
}
